body {
    padding: 10px;
    background-color: rgba(252, 251, 251, 0.719);
  }
  
  .listing {
    border: 2px solid #000000; /* Change border color to a lighter shade */
    border-radius: 5px; /* Add rounded corners */
    padding: 30px;
    margin-bottom: 10px;
    font-weight: bold;
    background-color: rgba(205, 235, 253, 0.575);
     /* Add a light background color */
  }
  
  /* Add a margin to the top of the page to prevent the navbar from overlapping the content */
  body > * {
    margin-top: 20px;
  }
  
  /* Style the listing title */
  .listing h4 {
    margin-bottom: 10px;
  }
  
/* Style the listing image */
.listing img {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
  }
  
  /* Style the listing description */
  .listing .active_description {
    font-weight: normal;
    margin-bottom: 10px;
  }
  
  /* Style the listing details */
  .listing p {
    font-weight: normal;
    margin-bottom: 5px;
  }
  
  /* Add some space between the listing title and the listing details */
  .listing h4 + p {
    margin-top: 10px;
  }
  
  .error {
    color: red;
    font-weight: bold;
}

  