body {
    padding: 10px;
}


.listing {
    border: 1px solid black; /* Creates a border around the listing */
    padding: 10px; /* Adds some space between the border and listing content */
    margin-bottom: 10px; /* Adds space between listings */
    font-weight: bold;
  }