#newpost-textarea {
    min-width: 750px;
    height: 100px;
    max-width: 3000px;
    padding: 5px;
    text-align: left;
}

#newpost-form {
    min-height: 100px;
    padding: 20px;
    padding-left: 300px;
}

.posts-table {
    min-height: 100px;
    padding: 20px;
    border: 1px solid blue;
    min-width: 750px;
    
}

#allposts-view {
    padding: 20px;
    padding-left: 300px;
}

#like-button {
    background-color: white;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  #like-button.liked-button {
    background-color: red;
  }
  