{% extends "encyclopedia/layout.html" %}

{% block title %}
    <h2>Edit Page</h2>
{% endblock %}

{% block body %}
<h2>Edit Page</h2> <br />
<form action="{% url 'save_edit' title=title %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="title" value="{{ title }}">
    <h5>Page Title:</h5>
    <input type="text" name="edited_title" value="{{ title }}"><br />
    <h5>Content:</h5>
    <textarea rows="20" cols="50" name="edited_content">{{ content }}</textarea> <br />
    <input type="submit" value="Save">
</form>

{% endblock %}
