{% extends "encyclopedia/layout.html" %}

{% block title %}
    <h2>Create New Page</h2>
{% endblock %}

{% block body %}
<h2>Create New Page</h2> <br />
<form action="{% url 'new_page' %}" method="post">
    {% csrf_token %}
    <input autocomplete="off" type="text" autofocus="on" name="new_page_title" placeholder="New Page Title"><br />
    <br>
    <textarea rows="10" cols="50" name="new_page_content" placeholder="Please enter the new page content here."></textarea><br />
    <br>
    <input type="submit" value="Submit">
</form>


{% endblock %}