{% extends "auctions/layout.html" %}

{% block body %}
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'save_listing' %}" method="post">
        {% csrf_token %}
        <input type="text" name="listing_title" placeholder="Listing Title" required maxlength="255" ><br \>
        <br  \>
        <textarea rows="15" cols="50" name="listing_description" placeholder="Listing Description" required ></textarea>
        <br \>
        <input type="url" name="url"  placeholder="Input the URL of a photo to go with the listing.">
        <br  \>
        <input type="text" name="text" placeholder="Category">
        <br  \>
        <input type="submit" value="Save">
    </form>
{% endblock %}