{% extends "auctions/layout.html" %}

{% block body %}
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'create_listing' %}" method="post">
        {% csrf_token %}
        <input type="text" name="listing_title" placeholder="Listing Title" required maxlength="255" ><br \>
        <br  \>
        <textarea rows="15" cols="50" name="listing_description" placeholder="Listing Description" required ></textarea>
        <br \>
        <input type="url" name="url"  placeholder="Input the URL of a photo to go with the listing.">
        <br  \>
        <label for="category">Category</label>
        <select name="category" id="category">
            {% for value, display in category_choices %}
            <option value="{{ value }}">{{ display }}</option>
            {% endfor %}
        </select>
        <br  \>
        <input type="submit" value="Save">
    </form>
{% endblock %}