{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
<div class="listing">
    <ul>
        {% for entry in entries %}
        <li>
            <a href="{{ entry }}"><h4>{{ entry.title }}  </h4></a>
            <img src="{{ entry.image_url }}" alt="{{ entry.title }}" style="width: 150px; height: auto;">
            <br  />
            <p class="active_description">{{ entry.description }}</p>
            <br  />
            <p>Category: {{ entry.category }}</p>
            <p>Highest Bid: {{ entry.highest_bid|floatformat:2  }}</p>
        </li>
    {% endfor %}
    
    </ul>
</div>

{% endblock %}