{% extends "auctions/layout.html" %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% block body %}

{% if has_won_auction %}
    <p class="alert alert-success">Congratulations! You have won this auction!</p>
{% endif %}

    <h2>{{ listing.title }}</h2>
    <p>Category: {{ listing.category }}</p>
    <div class="listing_page">
        <ul>
            <li>
                <img src="{{ listing.image_url }}" alt="{{ listing.title }}" style="width: 400px; height: auto;">
                <br  />
                <p class="active_description">{{ listing.description }}</p>
                <br  />
            </li>
        </ul>
        <h6>Current Highest Bid £{{ bid_amount|floatformat:2 }}</h6>
        <p>Comments:</p>

        {% if comments %}
        {% for comment in comments %}
        <ul>
            <li>
                <p class="comment">{{ comment.comment }}</p>
            </li>
        </ul>
        {% endfor %}
        {% endif %}
        


    <form action="" method="POST">
        {% csrf_token %}
        <input style="width: 500px;" type="text" name="comment" placeholder="Add comment">
        <input type="submit" value="Save">
    </form>
    <form action="" method="POST">
        {% csrf_token %}
        <label for='bid'>Bid £</label>
        <input type="number" name="bid" placeholder="{{ bid_amount|default:listing.starting_bid|floatformat:2 }}" step="0.01" min="{{ bid_amount|default:listing.starting_bid|floatformat:2 }}" max="9999999999">
        <input type="submit" value="Bid">
    </form>
    
    <form action="" method="POST">
        {% csrf_token %}
        {% if is_on_watchlist %}
        <button type="submit" name="watchbutton" value="remove">Remove from Watchlist</button>
        {% else %}
        <button type="submit" name="watchbutton" value="add">Add to Watchlist<button>
        {% endif %}
    </form>
    <form action="" method="POST">
        {% csrf_token %}
        {% if is_users_listing_active %}
        <button type="submit" name="closeauction" value="closeauction">Close Auction</button>
        {% endif %}
    </form>
</div>
{% endblock %}
