{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ sc }}</h2>
    <div class="row">
        {% for entry in entries %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ entry.image_url }}" class="card-img-top" alt="{{ entry.title }}" style="width: 100%; height: auto;">
                    <div class="card-body">
                        <a href="{% url 'listing_detail' entry.pk %}"><h4 class="card-title">{{ entry.title }}</h4></a>
                        <p class="card-text">{{ entry.description }}</p>
                        <p>Category: {{ entry.category }}</p>
                        <p>Highest Bid: £{{ entry.highest_bid|floatformat:2 }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
