{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>
<div class="listing">
    <ul>
        {% for entry_with_bids in entries_with_bids %}
        {% with listing=entry_with_bids.watchlist_entry.watchlisting_id %}
        <li>
            <a href="{% url 'listing_detail' listing.pk %}"><h4>{{ listing.title  }}</h4></a>
            <img src="{{ listing.image_url }}" alt="{{ listing.title }}" style="width: 150px; height: auto;">
            <br  />
            <p class="active_description">{{ listing.description }}</p>
            <br  />
            <p>Category: {{ listing.category }}</p>
            <p>Highest Bid: £{{ entry_with_bids.bids.last.bid_amount|floatformat:"2" }} </p>
        </li>
        {% endwith %}
        {% endfor %}
    </ul>
</div>

{% endblock %}
