{% extends "network/layout.html" %}

{% block body %}
<form id="newpost-form">
    {% csrf_token %}
        <h5>New Post</h5>
        <br>
        <textarea name="content" id="newpost-textarea"  placeholder="Enter new post here."></textarea>
        <br>
        <input type="submit" class="btn btn-primary"/>
</form>


<div id="allposts-view">
    <table id="posts-table-template" class ="posts-table" style="display: none;">
        <tbody>
          
          <tr>
            <td class="username"></td>
            <td class="timestamp"></td>
          </tr>
          <tr>
            <td colspan="2" rowspan="2" class="content"></td>
          </tr>
          <tr>
            <!-- The second row should be occupied by the cell from the previous row -->
          </tr>
          <tr>
            <td class="likes"></td>
            <td class="likescount"></td>
          </tr>
        </tbody>
    </table>
</div>

{% endblock %}