{% extends "network/layout.html" %}

{% block body %}
<form id="newpost-form">
    {% csrf_token %}
    <h5>New Post</h5>
    <br>
    <textarea name="content" id="newpost-textarea"  placeholder="Enter new post here."></textarea>
    <br>
    <input type="submit" class="btn btn-primary"/>
</form>

<div id="allposts-view" class="mt-3">
    <h2>All Posts</h2>
    <div id="posts-container">
        <!-- The posts will be loaded here -->
    </div>
    <div class="mt-3">
        <button id="previous-button" class="btn btn-primary" disabled>Previous</button>
        <button id="next-button" class="btn btn-primary" disabled>Next</button>
    </div>
</div>

<div id="userposts-view" class="mt-3">
    <h2>Userposts</h2>
    <div id="userposts-container">
        <!-- The posts will be loaded here -->
    </div>
    <div class="mt-3">
        <button id="previous-button" class="btn btn-primary" disabled>Previous</button>
        <button id="next-button" class="btn btn-primary" disabled>Next</button>
    </div>
</div>

{% endblock %}
