{% extends "network/layout.html" %}

{% block body %}
<form id="newpost-form">
    {% csrf_token %}
        <h5>New Post</h5>
        <br>
        <textarea name="content" id="newpost-textarea"  placeholder="Enter new post here."></textarea>
        <br>
        <input type="submit" class="btn btn-primary"/>
</form>


<div id="allposts-view">
    <table class ="posts-table">
        <tbody>
          <!-- Table rows are magically added here -->
          <tr>
            <td>USERNAME</td>
            <td>TIMESTAMP</td>
          </tr>
          <tr>
            <td colspan="2" rowspan="2">POST CONTENT</td>
          </tr>
          <tr>
            <!-- The second row should be occupied by the cell from the previous row -->
          </tr>
          <tr>
            <td>LIKES</td>
            <td>LIKES SYMBOL OR COUNT?</td>
          </tr>
        </tbody>
    </table>
</div>

{% endblock %}