{% load socialaccount static %}
<ul class="socialaccount_providers" style="list-style-type: none; padding-left: 0;">
    {% for provider in socialaccount_providers %}
    <li style="display: flex; justify-content: center;">
        {% if provider.id == "google" %}
            <a href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
                <img src="{% static 'images/googlesignin.png' %}" alt="Sign in with Google" style="width: 250px; height: auto;">
            </a>
        {% else %}
            <a href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
                {{ provider.name }}
            </a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
