.navbar-light .form-inline {
    display: flex;
    align-items: center;
    
  }

  .navbar .form-inline .form-control {
    margin-right: 10px; 
}

.navbar .form-inline .btn {
    margin-left: 10px; 
    font-family: 'Playfair Display', serif;
    font-weight: 500;
}

  
  .navbar-light .navbar-brand {
      color: #ffffff;
      font-family: 'Playfair Display', serif;
      font-size: 40px;
      
  }

  nav {
    background-color: #592327;
  }

  .navbar .form-inline .btn.btn-outline-success {
    font-weight: 400;
}

.searchInput{
  width: min-content;
}
  
  /* search button */
  .btn-outline-success {
    border-color: white;
    border-width: 1px;
    color: white;
    padding: 0.05rem 0.5rem;
    
  }

  .btn-outline-success:hover {
    background-color: #C38154;
    color: black;
  }

  /* main page background */
  body {
    background-color: #C38154; 
}

/* toolbar logo */
.logo-image {
    width: 250px; 
    height: auto; 
    padding: 0%;
}

.logo-container {
  display: flex;
  justify-content: center;
}

/* login logout welcome text */
  .light-text {
        color: white 
    }

    .navbar-text li {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    .logout {
      font-size:small
    }

    #pubs-container {
      transition: max-height 0.9s ease-in-out;
      width: 33vw;
      padding: 20px;
      padding-left: 40px;
      overflow-y: auto;
      background-color: #C38154;
      height: calc(100vh - 90px);
      box-sizing: border-box;
    }
    
    .pub {
      border: 2px solid #000000;
      padding: 3px;
      margin-bottom: 8px;
      background-color: #6580b1;
      transition: height 0.9s ease-in-out;
      overflow: hidden;
    }

    .visited {
      background-color: #378137;
    }
    
    .pub-expanded {
      border: 2px solid #000000;
      padding: 3px;
      margin-bottom: 8px;
      background-color: #ce934f;
      color: rgb(0, 0, 0);
    }
    
    .additional-content {
      position: relative;
    }

    .additional-content input[type="date"] {
      margin: 15px;
    }

    .additional-content textarea {
      margin: 15px;
    }

    .additional-content input[type="submit"] {
      position: absolute;
      bottom: -20px;
      right: 0;
      margin-right: 15px;
      margin-left: 30px;
    }

    .delete-button {
      margin: 8px;
      float: right;
  }
  
  .edit-button {
    margin: 8px;
  }


  /*second and third containers for map and pint glass*/
#parent-container {
  display: flex;
}

#pubs-container {
  overflow-y: auto;
}


#pubs-container, #map-container, #pint-container {
  width: 33vw; /*  sets  width to 33% of the viewport width */
  height: calc(100vh - 90px);
  padding: 20px;
  box-sizing: border-box;
  
}

#map-container, #pint-container {
  overflow-y: hidden;
}


#map-container {
  background-color: red; 
}

#pint-container {
  background-color: white; 

}

.pinttitle {
  text-align: center;
}


/* Pint glass animation */

#animation-container {
  position: relative;
  height: 100%; /* updated from 400px */
  width: 100%;  /* updated from 400px */
  overflow-x: hidden;
  justify-content: center; 
  align-items: center; 

}
#animation-text {
  position: absolute; 
  left: 50%;
  top: 40%;
  transform: translate(-50%);
  font-size: xx-large;
  color: black;
  font-family: sans-serif;
  font-weight: bold;
  z-index: 1; 
  
}
#animation-water {
  transition: all 0.5s ease;
  transform-box: fill-box;
  transform-origin: bottom;
}

svg {
  margin-left: 80px; /* to centre the pint glass (crops shadow) */
  width: 90%; /* reduce width to 80% of its original size */
  height: 90%; /* reduce height to 80% of its original size */
}
  

