.navbar-light .form-inline {
    display: flex;
    align-items: center;
    
  }

  .navbar .form-inline .form-control {
    margin-right: 10px; 
}

.navbar .form-inline .btn {
    margin-left: 10px; 
    font-family: 'Playfair Display', serif;
    font-weight: 500;
}

  
  .navbar-light .navbar-brand {
      color: #ffffff;
      font-family: 'Playfair Display', serif;
      font-size: 40px;
      
  }

  nav {
    background-color: #592327;
  }

  .navbar .form-inline .btn.btn-outline-success {
    font-weight: 400;
}


  
  /* search button */
  .btn-outline-success {
    border-color: white;
    border-width: 1px;
    color: white;
    padding: 0.05rem 0.5rem;
    
  }

  .btn-outline-success:hover {
    background-color: #C38154;
    color: black;
  }

  /* main page background */
  body {
    background-color: #C38154; 
}

/* toolbar logo */
.logo-image {
    width: 250px; 
    height: auto; 
    padding: 0%;
}

.logo-container {
  display: flex;
  justify-content: center;
}

/* login logout welcome text */
  .light-text {
        color: white 
    }

    .navbar-text li {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    .logout {
      font-size:small
    }

  #pubs-container {
    transition: height 0.3s ease-in-out;
    width: 33vw; /* sets container to a third of the width of the page */
    padding: 20px;
    padding-left: 40px;
    overflow-y: auto;
    background-color: rgba(128, 128, 128, 0.589);
    height: calc(100vh - 90px); /* height of pubs container is height of screen minus height of (navbar+ a bit more) */
    box-sizing: border-box;

  }

.pub {
  border: 2px solid #000000; 
  padding: 3px; /* Add padding to create some space around the pub entry */
  margin-bottom: 8px; /* Add margin to separate pub entries */
  background-color: #6494ed4d;
  transition: height 0.3s ease-in-out;
}

.pub-expanded {
  border: 2px solid #000000; 
  padding: 3px; 
  margin-bottom: 8px; 
  background-color: #6494ed4d;
  color: orangered;
}
